<div class="container mt-5">
    <div class="row">
        <div class="col-11 col-md-6 mx-auto mt-5 post-it">
            <h2>Ready to Post-it! your world?</h2>
            <h4>The best way to organize your tasks</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum dolor autem at aliquid doloremque
                architecto natus perspiciatis beatae ut tempora nam numquam quidem voluptas unde magnam id, laborum
                nostrum corrupti!
            </p>
            <button class="postItbtn" (click)="Login()">Sing In</button>

        </div>
    </div>
</div>